@use "@styles/breakpoint";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingIndicator {
  animation: spin 1s ease-in-out infinite;
  margin-top: 12rem;

  @media (min-width: breakpoint.$desktop) {
    margin-top: 6rem;
  }
}
